@import "./styles.css";

.item1 {
  grid-area: header;
}

.item2 {
  grid-area: nav-menu;
}

.item3 {
  grid-area: about-image;
}

.item4 {
  grid-area: about-page;
}

.item5 {
  grid-area: footer;
}

.about-page-container {
  grid-template-areas:
    'header nav-menu'
    'about-page about-image'
    'footer footer';
}

.about-page {
  border: 1px solid #A7E3FD;
  margin: 0px;
  padding: 10px;
  max-width: fit-content;
  border-radius: 5px;
}

.about-page h1 {
  font: Arial;
  color: black;
  font-size: 30px;
}

.about-page h3 {
  font: Arial;
  color: rgb(21, 192, 92);
  font-size: 24px;
}

.about-page p {
  font: Arial;
  color: black;
  font-size: 18px;
}

.about-image {
  border: 1px solid #333;
  border-radius: 10px;
  max-width: 75%;
  max-height: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0% !important;
}

.footer {
  position: relative;
  margin-top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .about-image {
    max-width: 50%;
    max-height: 50%;
  }
}