@import "./about.css";
@import "./blog.css";
@import "./social.css";
@import "./404.css";

/*
===Grid Info=================
*/
.item1 {
  grid-area: header;
}

.item2 {
  grid-area: nav-menu;
}

.item3 {
  grid-area: blog-card;
}

.item4 {
  grid-area: quote-container;
}

.item5 {
  grid-area: footer;
}

.grid-container {
  grid-template-areas:
    'header nav-menu nav-menu'
    'blog-card blog-card blog-card'
    'quote-container quote-container quote-container'
    'footer footer footer';
}

.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 1em;
  max-width: 600px;
  min-height: 20px;
}
/*
===Nav Menu=================
*/
.nav-menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}


.nav-menu li {
  margin: 0 5px;
  padding: 0px;
}

.nav-menu a {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}

.nav-menu li a:hover {
  background-color: #809cf3cf;
}

.active {
  background-color: #A7E3FD !important;
}
/*
===Header Video=================
*/


.header-video {
  display: center;
  height: auto;
}

/*
===Other=================
*/

.blog-image {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.fend-study {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-evenly;
  gap: 10px;
  max-width: auto;
  padding: 0.5em 10px;
}
.content-container {
  margin: 8px;
  padding: 1px;
}

.content-container-1 {
  margin: 8px;
  padding: 1px;
}

.fend-header h2 {
  color: #3E1596;
}
.q-of-day {
  border: 1px solid #3E1596;
  padding: 15px;
  border-radius: 5px;
  max-width: fit-content;
  margin: 10px;
}

.q-of-day h2 {
  color: #7f2652;
}


.figcaption {
  color: rgb(234, 15, 201);
  font-style: italic;
  padding: 2px;
  text-align: center;
  font-size: xx-small;
}

.quote-container {
  background: rgb(34, 33, 33);
  color: white;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  width: 100%;
}

.social {
  display: flex;
  flex-direction: column;
}

.google-calendar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em 5px;
}

.social-link-container {
  display: block;
  grid-column: auto;
  align-items: flex-start;
  justify-content: space-between;
  max-height: 100px;
  padding: 10px;
}
 

.footer {
  position: relative;
  margin-top: auto;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
} 
/*
===Media Queries=================
*/

@media screen and (max-width: 768px){
  .fend-page {
    display: block;
    max-width: fit-content;
  }
}

@media screen and (max-width: 425px) {
  .header-container {
    display: block;
  }
  
  .quote-container {
    max-width: fit-content;
  }

  #eventbrite-widget-container-612453895087{
    height: 900px;
    margin: 8px;
  }

  .google-calendar {
    max-width: 300px;
    max-height: max-content;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;
  }
  .tiktok-embed {
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 375px){
  .nav-menu {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 320px) {
  .google-calendar {
    max-width: 280px;
    padding: 1px !important;
  }
  .social-link-container {
    align-items: center;
    display: inline-block;
  }
  .header-video {
    max-width: 300px;
  }
  #eventbrite-widget-container-612453895087{
    height: fit-content !important;
    padding: 8px;
  }
  .content-container-1 {
    margin: 16px !important;
    padding: 8px !important;
    max-width: fit-content;
  }
}